node-name: {{ inventory_hostname_short }}
node-label: {{ labels | list }}
node-taint: {{ taints | list }}

cluster-domain: {{ cluster.network.domain }}
disable: {{ cluster.disable | list }}
disable-cloud-controller: {{ cluster.disable_cloud_controller }}
flannel-backend: {{ cluster.network.flannel_backend }}
tls-san: {{ cluster.network.tls_san | list }}
secrets-encryption: true
write-kubeconfig-mode: 0644

cluster-cidr: {{ cluster.network.pod_cidr }}
service-cidr: {{ cluster.network.service_cidr }}
cluster-dns: {{ cluster.network.cluster_dns }}

cluster-init: true
token: {{ cluster.token }}

etcd-expose-metrics: true
etcd-disable-snapshots: {{ cluster.etcd.snapshots.disabled }}
etcd-snapshot-retention: {{ cluster.etcd.snapshots.retention }}
etcd-snapshot-dir: {{ cluster.etcd.snapshots.directory }}

etcd-s3: {{ cluster.etcd.s3.enabled }}
etcd-s3-access-key: {{ cluster.etcd.s3.access_key }}
etcd-s3-secret-key: {{ cluster.etcd.s3.secret_key }}
etcd-s3-bucket: {{ cluster.etcd.s3.bucket }}