[Unit]
Description=Node-Exporter
After=syslog.target network-online.target

[Service]
ExecStart=/opt/node_exporter --no-collector.wifi --no-collector.hwmon --collector.filesystem.ignored-mount-points=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/pods/.+)($|/) --collector.netclass.ignored-devices=^(veth.*)$ --collector.netdev.address-info
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target